@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-palette {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.color-swatch {
  height: 70px;
  width: 70px;
  border-radius: 7px;
  margin: 9px;
  cursor: pointer;
  border: 4px solid black;
}

.color-swatch-active {
  box-shadow: inset 0 0 15px #000000;
  transition: all 0.2s;
}

canvas {
  border: 1px solid black;
  width: 800px;
  height: 800px;
  background-color: transparent;
}